<div class="download" id="download">
    <h2>@Localizer["Heading title"]</h2>
    <p>@Localizer["Description"]</p>

    <ul class="platforms">
        <li>
            <strong>@Localizer["Android"]</strong>
            <button class="primary_button">@Localizer["Google Play"]</button>
        </li>

        <li>
            <strong>@Localizer["IOS"]</strong>
            <button class="primary_button">@Localizer["App Store"]</button>
        </li>

        <li>
            <strong>@Localizer["PC"]</strong>
            <button class="primary_button">@Localizer["Install"]</button>
        </li>
    </ul>
</div>