<div class="main_header">
    <img class="logo" src="/assets/icons/logo.svg" alt="@Localizer["Application name"]" />
    <ul class="menu">
        <li><a href="#main">@Localizer["Index"]</a></li>
        <li><a href="#about">@Localizer["About"]</a></li>
        <li><a href="#download">@Localizer["Download"]</a></li>
        <li><a href="#contacts">@Localizer["Contacts"]</a></li>
    </ul>
    @* Это нужно сократить *@
    <nav>
        <ul>
            <li><a href="#main">@Localizer["Index"]</a></li>
            <li><a href="#about">@Localizer["About"]</a></li>
            <li><a href="#download">@Localizer["Download"]</a></li>
            <li><a href="#contacts">@Localizer["Contacts"]</a></li>
        </ul>
    </nav>
    <div class="menu_burger">
        <div class="burger"></div>
    </div>
</div>
